#galler-window {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 90px 90px;
    grid-template-areas:
        ". n n n n n n n n n n d"
        "m c c c c c c c c c c a"
        "s c c c c c c c c c c a"
        "s . . . . . . . . . . b";
}

.container-gal {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 20px;
    grid-auto-flow: dense;
    overflow: auto;
    padding-right: 20px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.container-gal::-webkit-scrollbar {
    display: none;
}

.container-gal>div {
    z-index: 1;
    position: relative;
    padding: 0;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 5px 5px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.container-gal div img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

/*make bIG*/
.container-gal>div:hover,
.container-gal>div:hover img {
    transform: scale(1.05);
}

.container-gal>div:hover img {
    transform: scale(1.06);
}

.vertical {
    grid-row: span 2;
}

.horizontal {
    grid-column: span 2;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    max-width: 1300px;
    margin: auto;
}

.gallery__strip {
    min-height: 100vh;
}

.gallery__strip__wrapper {
    flex: 0 0 100%;
    justify-content: flex-end;
    background: #222;
    border-right: 2px solid #333;
    position: relative;
}

@media (min-width: 500px) {
    .gallery__strip__wrapper {
        flex: 0 0 50%;
    }
}

@media (min-width: 950px) {
    .gallery {
        height: 100vh;
    }

    .gallery__strip.one {
        animation: 60s move-it ease alternate infinite 5s;
        transform: translateY(2%);
    }

    .gallery__strip.three {
        animation: 70s move-it ease alternate infinite 6s;
        transform: translateY(2%);
    }

    .gallery__strip.two {
        animation: 58s move-it-2 ease alternate infinite 5s;
        transform: translateY(-50%);
    }

    .gallery__strip.four {
        animation: 65s move-it-2 ease alternate infinite 5.5s;
        transform: translateY(-50%);
    }

    .gallery__strip:hover {
        animation-play-state: paused;
    }

    .gallery__strip__wrapper {
        flex: 0 0 25%;
    }
}

.photo {
    position: relative;
    text-align: right;
    padding-bottom: 3rem;
}

.photo__image img {
    width: 90%;
    transform: translateX(30%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.photo__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-top: -25px;
    transition: 0.4s ease-in-out 0.4s;
    position: relative;
    width: 100%;
}

.photo:hover .photo__image img {
    transform: translateX(0%);
}

.photo:hover .photo__name {
    color: #fff;
}

@keyframes move-it {

    0%,
    90%,
    100% {
        transform: translateY(2%);
    }

    45% {
        transform: translateY(-50%);
    }
}

@keyframes move-it-2 {

    0%,
    90%,
    100% {
        transform: translateY(-50%);
    }

    45% {
        transform: translateY(5%);
    }
}

/*--------------------------------------------------------------
# Services Cards Section
--------------------------------------------------------------*/
.services-cards {
    background: #f7f9fc;
}

.services-cards .card-item {
    border: 1px solid rgba(27, 47, 69, 0.1);
    background: #fff;
    position: relative;
    border-radius: 0;
}

.services-cards .card-item .card-bg {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.services-cards .card-item .card-body {
    padding: 30px;
}

.services-cards .card-item h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--color-secondary);
}

.services-cards .card-item p {
    color: var(--color-secondary);
    margin: 0;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(63, 73, 83, 0.8);
    overflow: hidden;
    position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero .carousel-item::before {
    content: "";
    background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    bottom: 20%;
    left: 50px;
    right: 50px;
}

#hero .container {
    text-align: center;
}

#hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-family: "Cormorant Garamond",serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 20px;
}

#hero p {
    font-family: "Cormorant Garamond",serif;
    font-size: 20px;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #d9d9d9;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    line-height: 0;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    list-style-type: none;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

#hero .carousel-indicators li.active {
    opacity: 1;
    background: #343a40;
    box-shadow: 0 0 0 2px #fff;
}

@media (max-width: 992px) {
    #hero {
        height: 100vh;
    }

    #hero .carousel-container {
        bottom: 8%;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 4%;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

a {
    text-decoration: none;
}

#more-arrows {
    width: 75px;
    height: 65px;
}

polygon {
    fill: #fff;
    transition: all 0.2s ease-out;
}

polygon.arrow-middle {
    opacity: 0.75;
}

polygon.arrow-top {
    opacity: 0.5;
}
